-
  var advantagesArrTitle = [
    "ЦЕНЫ ОТ ПРОИЗВОДИТЕЛЯ",
    "ВЫСОЧАЙШЕЕ КАЧЕСТВО ПОШИВА",
    "КОРОТКИЕ СРОКИ ПРОИЗВОДСТВА",
    "СОЛИДНЫЙ ОПЫТ"
  ];
  var advantagesArrText = [
    "Поскольку, мы – независимая компания с собственным производством и особенно устроенной ценовой политикой, то и стоимость каждого продукта регулируем самостоятельно. Заказывая наши игровые комплекты – Вы получаете превосходные атрибуты напрямую от производителя (без посредников). Этим и объясняется их столь выгодная и приятная стоимость.",
    "Пожалуй, это одно из главных преимуществ нашей компании. Оно является недоступным для многих фирм-конкурентов и приоритетным для Спорт-Принт в частности. Высочайший уровень пошива всех видов игровой формы объясняется наличием собственного высокотехнологичного производства, идеально сочетающегося со штатом профессиональных сотрудников. Это и позволяет нашей продукции получаться не только удобной и красивой, но и надежной.",
    "Гармоничное и хорошо сбалансированное производство позволяет Спорт-Принт не зависеть от времени и выполнять любой заказ в строго установленные сроки. Таким образом, работать с нами не только выгодно и удобно, но и быстро.",
    "Наш первый комплект игровой формы былвыпущен в далеком 1991 году. И вот уже на протяжении более чем 27 лет мы радуем своих клиентов со всей страны только лучшими игровыми комплектами. За столь основательный опыт работы нашими клиентами стали сотни футбольных, хоккейных, волейбольных и баскетбольных команд, а так же множество бегунов и теннисистов. Надеемся, Вы или Ваш коллектив – не станете исключениями, и присоединитесь к числу наших довольных клиентов!"
  ];


.advantages
  .container

    .advantages__wrap
      +titleBlock("НАШИ", "ПРЕИМУЩЕСТВA")

      .advantages__row
        -for(var i = 0, len = advantagesArrTitle.length; i < len; i++)
          .advantages__block

            .advantages__block-left
              p!= "0" + (i + 1)

            .advantages__block-right
              .advantages__block-header
                h4!= advantagesArrTitle[i]
                +icon('ico-advantages-' + i)

              p!= advantagesArrText[i]

