.client#client
  .container
    .client__wrap

      +titleBlock("НАШИ", "КЛИЕНТЫ")

      .client__slider.js-clientSlider
         -for(var i = 2; i <= 55; i++)
            img(src="./img/client-logos/" + i + "A.png" srcset="./img/client-logos/" + i + ".png 2x" alt="")
