.instagram
  .container

    +titleBlock("НАШ", "ИНСТАГРАМ")

    .instagram__row
      -for(var i = 0; i < 8; i++)
        .instagram__block

          img(
            src="./img/img__instagram.jpg"
            srcset="./img/img__instagram@2x.jpg 2x"
            alt=""
          )

          a(href="#" class="instagram__block-btn")
            i.icon-preview