-
  var menuValue = [
    "ПРЕИМУЩЕСТВА",
    "ПРИМЕРЫ РАБОТ",
    "ОТЗЫВЫ",
    "КЛИЕНТЫ",
    "INSTAGRAM",
    "ЗАКАЗАТЬ ФОРМУ"
  ];
  var menuHref = [
    "advantages",
    "example",
    "testimonials",
    "client",
    "instagram",
    "order"
  ];

.menu.animated
  -for(var i = 0, len = menuValue.length; i < len; i++)
    a(
      href="#" + menuHref[i]
      class="menu__item"
    )!= menuValue[i]