-
  var socialVal = [
    "fb",
    "vk",
    "tg",
    "in"
  ];

.social
  -for(var i = 0, len = socialVal.length; i < len; i++)
    a(href="http://vk.com" target="_blank" class="social__item")
      +icon('ico-' + socialVal[i])
