-
  var workArrName = [
    "ВЫ ОСТВЛЯЕТЕ</br>ЗАЯВКУ",
    "МЫ ГОТОВИМ</br>УНИКАЛЬНЫЙ ДИЗАЙН",
    "ВЫ ВНОСИТЕ</br>ПРЕДОПЛАТУ",
    "МНОГОЭТАПНОЕ</br>ПРОИЗВОДСТВО",
    "ЗАКАЗ ГОТОВ"
  ];

.work
  .container
    .work__wrap

      +titleBlock("СХЕМА", "РАБОТЫ")

      .work__row.wow.wowFadeUp(data-animation-delay="0.85s")
        -for(var i = 0, len = workArrName.length; i < len; i++)
          .work__block.wow.wowFadeUp(data-animation-delay="0." + (i + 5) + "5s")
            .work__circle
              +icon('ico-work-' + i)
              span!= "0" + (i + 1)

            p.work__block-text!= workArrName[i]
