include _mixins
doctype html
html(lang="en")
  head
    include _head

  body(class=bodyClass)
    // place where pjax bindings happen's
    #barba-wrapper
      block header
        include ../components/_header

      .menu__mobile
        .menu__mobile-close.animated
          .header__hamburger
            .hamburger.hamburger--squeeze.is-active(js-menuClose)
              .hamburger-box
                .hamburger-inner
        include ../components/_menu
    
      // what should be changed with every pjax
      .page(class=outClass)
        .page__content
          block content

        block footer
          include ../components/_footer

        block modal
          include ../components/_modal

          
      block scripts
        include _scripts
