- var svgSprite = 'img/sprite.svg'

mixin icon(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico " + name + modClass)
    use(xlink:href= svgSprite + '#' + name)


mixin titleBlock(subtitleVal, titleVal)
  p.main__subtitle.wow.wowFadeUp(data-animation-delay="0.55s")!= subtitleVal
  p.main__title.wow.wowFadeUp(data-animation-delay="0.55s")!= titleVal
