.advantages
  &__row
    display: flex
    flex-wrap: wrap

  &__block
    cursor: pointer
    display: flex
    width: 50%
    background-color: $colorWhite
    +transition(background-color)
    +respondTo(mobile-max)
      width: 100%

    &:hover
      background-color: $colorBirdFlower
      background-repeat: repeat
      +transition(background-color)

      .advantages__block-header
        h4
          color: $colorWhite
          +transition(color)
        .ico
          fill: $colorWhite
          +transition(fill)

      .advantages__block-right
        p
          color: $colorWhite
          +transition(color)

    &:first-child
      border:
        right: 1px solid rgba($colorBlack, 0.1)
        bottom: 1px solid rgba($colorBlack, 0.1)
      +respondTo(mobile-max)
        border-right: 0
    &:nth-child(2)
      border-bottom: 1px solid rgba($colorBlack, 0.1)
    &:nth-child(3)
      border:
        right: 1px solid rgba($colorBlack, 0.1)
      +respondTo(mobile-max)
        border-right: 0
        border-bottom: 1px solid rgba($colorBlack, 0.1)

      .advantages__block-right
        padding-bottom: 83px
        +respondTo(small-mobile)
          padding-bottom: 15px
        +respondTo(tablet)
          padding-bottom: 50px
        +respondTo(wide)
          padding-bottom: 60px
    &:nth-child(4)
      .advantages__block-right
        padding-bottom: 83px
        +respondTo(small-mobile)
          padding-bottom: 15px
        +respondTo(tablet)
          padding-bottom: 50px
        +respondTo(wide)
          padding-bottom: 60px


    &-left
      width: 125px
      padding-top: 52px
      text-align: center
      +respondTo(small-mobile)
        width: 80px
        padding-top: 30px
      +respondTo(tablet)
        width: 85px
        padding-top: 32px

      p
        font:
          size: 50px
          weight: 200
        color: rgba($colorBlack, 0.1)
        +respondTo(small-mobile)
          font-size: 30px
        +respondTo(tablet)
          font-size: 35px

    &-right
      width: calc(100% - 125px)
      padding: 50px 35px 60px 0
      +respondTo(small-mobile)
        width: calc(100% - 80px)
        padding: 15px 15px 15px 0
      +respondTo(tablet)
        width: calc(100% - 85px)
        padding: 30px 15px 30px 0
      +respondTo(wide)
        padding: 35px 30px 45px 0

      p
        font-size: 20px
        line-height: 1.4
        +transition(color)
        +respondTo(small-mobile)
          font-size: 14px
        +respondTo(tablet)
          font-size: 16px
        +respondTo(wide)
          font-size: 18px

    &-header
      display: flex
      align-items: center
      justify-content: space-between
      padding-bottom: 35px
      +respondTo(small-mobile)
        padding-bottom: 20px

      h4
        font:
          size: 36px
          weight: 500
        +transition(color)
        +respondTo(small-mobile)
          font-size: 23px
        +respondTo(tablet)
          font-size: 25px
        +respondTo(wide)
          font-size: 30px

      .ico
        fill: $colorBirdFlower
        +transition(fill)

        &-advantages
          &-0
            width: 63px
            height: 53px
            +respondTo(small-mobile)
              width: 33px
              height: 23px
            +respondTo(tablet)
              width: 43px
              height: 33px
            +respondTo(wide)
              width: 53px
              height: 43px
          &-1
            width: 68px
            height: 58px
            +respondTo(small-mobile)
              width: 38px
              height: 28px
            +respondTo(tablet)
              width: 48px
              height: 38px
            +respondTo(wide)
              width: 58px
              height: 48px
          &-2
            width: 57px
            height: 63px
            +respondTo(small-mobile)
              width: 27px
              height: 33px
            +respondTo(tablet)
              width: 37px
              height: 43px
            +respondTo(wide)
              width: 47px
              height: 53px
          &-3
            width: 63px
            height: 67px
            +respondTo(small-mobile)
              width: 33px
              height: 37px
            +respondTo(tablet)
              width: 43px
              height: 47px
            +respondTo(wide)
              width: 53px
              height: 57px