.advantages
  &__row
    display: flex
    flex-wrap: wrap

  &__block
    cursor: pointer
    display: flex
    width: 50%
    background-color: $colorWhite
    +transition(background-image)

    &:hover
      background-image: url("../img/img-bg__work.png")
      background-repeat: repeat
      +transition(background-image)

      .advantages__block-header
        h4
          color: $colorWhite
          +transition(color)
        .ico
          fill: $colorWhite
          +transition(fill)

      .advantages__block-right
        p
          color: $colorWhite
          +transition(color)

    &:first-child
      border:
        right: 1px solid rgba($colorBlack, 0.1)
        bottom: 1px solid rgba($colorBlack, 0.1)
    &:nth-child(2)
      border:
        bottom: 1px solid rgba($colorBlack, 0.1)
    &:nth-child(3)
      border:
        right: 1px solid rgba($colorBlack, 0.1)

      .advantages__block-right
        padding-bottom: 83px
    &:nth-child(4)
      .advantages__block-right
        padding-bottom: 83px


    &-left
      width: 125px
      padding-top: 52px
      text-align: center

      p
        font:
          size: 50px
          weight: 200
        color: rgba($colorBlack, 0.1)

    &-right
      width: calc(100% - 125px)
      padding: 50px 35px 60px 0

      p
        font-size: 20px
        line-height: 1.4
        +transition(color)

    &-header
      display: flex
      align-items: center
      justify-content: space-between
      padding-bottom: 35px

      h4
        font:
          size: 36px
          weight: 500
        +transition(color)

      .ico
        fill: $colorBirdFlower
        +transition(fill)

        &-advantages
          &-0
            width: 63px
            height: 53px
          &-1
            width: 68px
            height: 58px
          &-2
            width: 57px
            height: 63px
          &-3
            width: 63px
            height: 67px