.client
  &__wrap
    padding-top: 70px
    margin-bottom: 94px
    border-bottom: 1px solid $colorGainsboro

  &__slider
    img
      margin-left: 15px
      margin-right: 15px

    .slick-dots
      margin: 32px 0
      padding-left: 0
      text-align: center

      li
        &.slick-active
          div
            background-color: $colorBirdFlower

        div
          cursor: pointer
          width: 9px
          height: 9px
          margin: 0 2.5px
          border-radius: 100%
          background-color: $colorWhite

