// =====
//  MAIN TITLE
// ==========
.main
  &__title,
  &__subtitle
    text-align: center

  &__title
    padding-bottom: 65px
    font:
      size: 60px
      weight: 800
    +respondTo(tablet)
      padding-bottom: 45px
      font-size: 40px
    +respondTo(mobile-max)
      padding-bottom: 35px
      font-size: 30px

  &__subtitle
    padding-bottom: 25px
    font:
      size: 35px
      family: "KazmannSans", Arial, sans-serif
    color: $colorBirdFlower
    letter-spacing: 7px
    +respondTo(tablet)
      padding-bottom: 20px
      font-size: 25px
    +respondTo(mobile-max)
      padding-bottom: 15px
      font-size: 22px



// ANIMATE
.animated
  animation-duration: 1s
  animation-fill-mode: both

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

.fadeIn
  animation-name: fadeIn

@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0

.fadeOut
  animation-name: fadeOut

@keyframes slideInLeft
  from
    transform: translate3d(-100%, 0, 0)
    visibility: visible
  to
    transform: translate3d(0, 0, 0)

.slideInLeft
  animation-name: slideInLeft

