.instagram
  padding:
    top: 50px
    bottom: 50px

  &__title,
  &__subtitle
    text-align: center

  &__title
    margin-bottom: 132px
    font:
      size: 60px
      weight: 800

  &__subtitle
    margin-bottom: 40px
    font:
      size: 35px
      family: "KazmannSans"
    color: $colorBirdFlower

  &__row
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__block
    position: relative
    width: 290px
    height: 290px
    margin-bottom: 37px
    background-color: $colorWhite

    &-btn
      position: absolute
      top: 10px
      right: 10px

      i
        display: block
