.instagram
  margin-bottom: 50px

  .main__title
    padding-bottom: 110px
    +respondTo(tablet)
      padding-bottom: 80px

  &__row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    +respondTo(tablet)
      justify-content: center
    +respondTo(wide)
      justify-content: center

  &__block
    overflow: hidden
    cursor: pointer
    position: relative
    width: 293px
    height: 293px
    margin-bottom: 45px
    background-color: $colorWhite
    +respondTo(tablet)
      margin: 15px
    +respondTo(wide)
      margin: 15px

    &:hover
      img
        transform: scale(1.025)
        +transition(transform)

    img
      +transition(transform)

    //&-btn
    //  position: absolute
    //  top: 10px
    //  right: 10px
    //
    //  i
    //    display: block
