.menu
  display: flex
  align-items: center
  justify-content: space-between

  .footer &
    height: 62px
    border-top: 1px solid $colorGainsboro
    border-bottom: 1px solid $colorGainsboro
    +respondTo(tablet-max)
      display: none
    +respondTo(tablet)
      height: 50px

  .header &
    height: 56px
    background-color: transparent
    border-bottom: 1px solid $colorGainsboro
    +respondTo(tablet)
      height: 50px

  &__item
    display: flex
    align-items: center
    height: 100%
    font-size: 20px
    font-weight: 300
    border-top: 4px solid transparent
    border-bottom: 4px solid transparent
    +transition(border-color)
    +respondTo(tablet)
      font-size: 16px
    +respondTo(wide)
      font-size: 16px

    &:hover
      border-bottom-color: $colorBirdFlower
      +transition(border-color)