.menu
  display: flex
  align-items: center
  justify-content: space-between

  height: 62px

  .footer &
    border-top: 1px solid $colorGainsboro
    border-bottom: 1px solid $colorGainsboro

  &__item
    font-size: 20px