.social
  display: flex
  align-items: center

  &__item
    svg
      fill: $colorBirdFlower
      display: inline-block
      vertical-align: middle
      margin-right: 20px
      font-size: 20px
      +transition(fill)

      &:hover
        fill: $colorDarkGoldenrod
        +transition(fill)
