// REGULAR
@font-face
  font-family: 'AkzidenzGroteskPro'
  src: url('../fonts/AkzidenzGroteskPro-Regular.eot')
  src: url('../fonts/AkzidenzGroteskPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AkzidenzGroteskPro-Regular.woff2') format('woff2'), url('../fonts/AkzidenzGroteskPro-Regular.woff') format('woff'),url('../fonts/AkzidenzGroteskPro-Regular.ttf') format('truetype'),url('../fonts/AkzidenzGroteskPro-Regular.svg#AkzidenzGroteskPro-Regular') format('svg')
  font-weight: normal
  font-style: normal

//  CN
@font-face
  font-family: 'AkzidenzGroteskPro'
  src: url('../fonts/AkzidenzGroteskPro-Cn.eot')
  src: url('../fonts/AkzidenzGroteskPro-Cn.eot?#iefix') format('embedded-opentype'), url('../fonts/AkzidenzGroteskPro-Cn.woff2') format('woff2'), url('../fonts/AkzidenzGroteskPro-Cn.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Cn.ttf') format('truetype'), url('../fonts/AkzidenzGroteskPro-Cn.svg#AkzidenzGroteskPro-Cn') format('svg')
  font-style: normal
  font-weight: 300

// LIGHT
@font-face
  font-family: 'AkzidenzGroteskPro'
  src: url('../fonts/AkzidenzGroteskPro-LightCn.eot')
  src: url('../fonts/AkzidenzGroteskPro-LightCn.eot?#iefix') format('embedded-opentype'), url('../fonts/AkzidenzGroteskPro-LightCn.woff2') format('woff2'), url('../fonts/AkzidenzGroteskPro-LightCn.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-LightCn.ttf') format('truetype'), url('../fonts/AkzidenzGroteskPro-LightCn.svg#AkzidenzGroteskPro-LightCn') format('svg')
  font-style: normal
  font-weight: 200

// MD
@font-face
  font-family: 'AkzidenzGroteskPro'
  src: url('../fonts/AkzidenzGroteskPro-MdCn.eot')
  src: url('../fonts/AkzidenzGroteskPro-MdCn.eot?#iefix') format('embedded-opentype'), url('../fonts/AkzidenzGroteskPro-MdCn.woff2') format('woff2'), url('../fonts/AkzidenzGroteskPro-MdCn.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-MdCn.ttf') format('truetype'), url('../fonts/AkzidenzGroteskPro-MdCn.svg#AkzidenzGroteskPro-MdCn') format('svg')
  font-style: normal
  font-weight: 500

// SUPER
@font-face
  font-family: 'AkzidenzGroteskPro'
  src: url('../fonts/AkzidenzGroteskPro-Super.eot')
  src: url('../fonts/AkzidenzGroteskPro-Super.eot?#iefix') format('embedded-opentype'), url('../fonts/AkzidenzGroteskPro-Super.woff2') format('woff2'), url('../fonts/AkzidenzGroteskPro-Super.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Super.ttf') format('truetype'), url('../fonts/AkzidenzGroteskPro-Super.svg#AkzidenzGroteskPro-Super') format('svg')
  font-style: normal
  font-weight: 800


@font-face
  font-family: 'KazmannSans'
  src: url('../fonts/Kazmann-Sans.eot')
  src: url('../fonts/Kazmann-Sans.eot?#iefix') format('embedded-opentype'), url('../fonts/Kazmann-Sans.woff2') format('woff2'), url('../fonts/Kazmann-Sans.woff') format('woff'), url('../fonts/Kazmann-Sans.ttf') format('truetype'), url('../fonts/Kazmann-Sans.svg#Kazmann-Sans') format('svg')
  font-weight: normal
  font-style: normal
