.ico-advantages-0 {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.ico-advantages-1 {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.ico-advantages-2 {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.ico-advantages-3 {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-work-0 {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.ico-work-1 {
  width: 0.48em;
  height: 1em;
  fill: initial;
}
.ico-work-2 {
  width: 1.12em;
  height: 1em;
  fill: initial;
}
.ico-work-3 {
  width: 0.69em;
  height: 1em;
  fill: initial;
}
.ico-work-4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
