.ico-advantages-0 {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.ico-advantages-1 {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.ico-advantages-2 {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.ico-advantages-3 {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.ico-fb {
  width: 0.47em;
  height: 1em;
  fill: initial;
}
.ico-in {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-info-0 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-info-1 {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.ico-info-2 {
  width: 1.01em;
  height: 1em;
  fill: initial;
}
.ico-info-3 {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.ico-info-4 {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.ico-info-5 {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.ico-tg {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-viber {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-vk {
  width: 1.65em;
  height: 1em;
  fill: initial;
}
.ico-whatsapp {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-work-0 {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.ico-work-1 {
  width: 0.48em;
  height: 1em;
  fill: initial;
}
.ico-work-2 {
  width: 1.12em;
  height: 1em;
  fill: initial;
}
.ico-work-3 {
  width: 0.69em;
  height: 1em;
  fill: initial;
}
.ico-work-4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
