$sprite: (
	fb: (
		offset-x: -75px,
		offset-y: -30px,
		width: 9px,
		height: 20px,
		total-width: 95px,
		total-height: 58px,
		image: '../img/sprite.png'
	),
	in: (
		offset-x: -43px,
		offset-y: -38px,
		width: 20px,
		height: 20px,
		total-width: 95px,
		total-height: 58px,
		image: '../img/sprite.png'
	),
	tg: (
		offset-x: -75px,
		offset-y: 0px,
		width: 20px,
		height: 20px,
		total-width: 95px,
		total-height: 58px,
		image: '../img/sprite.png'
	),
	viber: (
		offset-x: 0px,
		offset-y: 0px,
		width: 28px,
		height: 28px,
		total-width: 95px,
		total-height: 58px,
		image: '../img/sprite.png'
	),
	vk: (
		offset-x: 0px,
		offset-y: -38px,
		width: 33px,
		height: 20px,
		total-width: 95px,
		total-height: 58px,
		image: '../img/sprite.png'
	),
	whatsapp: (
		offset-x: -38px,
		offset-y: 0px,
		width: 27px,
		height: 27px,
		total-width: 95px,
		total-height: 58px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-fb {
		@include sprite(fb)
	}
	.icon-in {
		@include sprite(in)
	}
	.icon-tg {
		@include sprite(tg)
	}
	.icon-viber {
		@include sprite(viber)
	}
	.icon-vk {
		@include sprite(vk)
	}
	.icon-whatsapp {
		@include sprite(whatsapp)
	}
