$sprite: (
	fb: (
		offset-x: -228px,
		offset-y: -168px,
		width: 9px,
		height: 20px,
		total-width: 250px,
		total-height: 201px,
		image: '../img/sprite.png'
	),
	in: (
		offset-x: -230px,
		offset-y: -93px,
		width: 20px,
		height: 20px,
		total-width: 250px,
		total-height: 201px,
		image: '../img/sprite.png'
	),
	preview: (
		offset-x: -192px,
		offset-y: -168px,
		width: 26px,
		height: 26px,
		total-width: 250px,
		total-height: 201px,
		image: '../img/sprite.png'
	),
	tg: (
		offset-x: -229px,
		offset-y: -131px,
		width: 20px,
		height: 20px,
		total-width: 250px,
		total-height: 201px,
		image: '../img/sprite.png'
	),
	viber: (
		offset-x: -192px,
		offset-y: -93px,
		width: 28px,
		height: 28px,
		total-width: 250px,
		total-height: 201px,
		image: '../img/sprite.png'
	),
	vk: (
		offset-x: -143px,
		offset-y: -92px,
		width: 33px,
		height: 20px,
		total-width: 250px,
		total-height: 201px,
		image: '../img/sprite.png'
	),
	whatsapp: (
		offset-x: -192px,
		offset-y: -131px,
		width: 27px,
		height: 27px,
		total-width: 250px,
		total-height: 201px,
		image: '../img/sprite.png'
	),
	work-0: (
		offset-x: -62px,
		offset-y: -92px,
		width: 71px,
		height: 70px,
		total-width: 250px,
		total-height: 201px,
		image: '../img/sprite.png'
	),
	work-1: (
		offset-x: 0px,
		offset-y: -92px,
		width: 52px,
		height: 109px,
		total-width: 250px,
		total-height: 201px,
		image: '../img/sprite.png'
	),
	work-2: (
		offset-x: 0px,
		offset-y: 0px,
		width: 91px,
		height: 82px,
		total-width: 250px,
		total-height: 201px,
		image: '../img/sprite.png'
	),
	work-3: (
		offset-x: -192px,
		offset-y: 0px,
		width: 58px,
		height: 83px,
		total-width: 250px,
		total-height: 201px,
		image: '../img/sprite.png'
	),
	work-4: (
		offset-x: -101px,
		offset-y: 0px,
		width: 81px,
		height: 81px,
		total-width: 250px,
		total-height: 201px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-fb {
		@include sprite(fb)
	}
	.icon-in {
		@include sprite(in)
	}
	.icon-preview {
		@include sprite(preview)
	}
	.icon-tg {
		@include sprite(tg)
	}
	.icon-viber {
		@include sprite(viber)
	}
	.icon-vk {
		@include sprite(vk)
	}
	.icon-whatsapp {
		@include sprite(whatsapp)
	}
	.icon-work-0 {
		@include sprite(work-0)
	}
	.icon-work-1 {
		@include sprite(work-1)
	}
	.icon-work-2 {
		@include sprite(work-2)
	}
	.icon-work-3 {
		@include sprite(work-3)
	}
	.icon-work-4 {
		@include sprite(work-4)
	}
